#splash {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#splash div {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
}

#links a {
    margin: 20px;
}

#splash div a:hover {
    cursor: pointer;
}