
#inner {
    display: flex;
}

/* #toot {
    display: flex;
} */

#tag {
    color: #34acf5;
}

#username_link:hover {
    text-decoration: underline;
}

#toot div:hover {
    background-color: #f8f4f4;
}

#stats {
    display: flex;
    justify-content: space-between;
}

#retoot {
    color: gray;
    font-weight: 700;
    font-size: 13px;
}