
#inner {
    display: flex;
    /* margin: 10px; */
}

#inner #left {
    padding: 10px;
}

#inner #right {
    flex-grow: 1;
    padding: 10px;
}

#title {
    display: flex;
    justify-content: space-between;
}


/* #toot {
    display: flex;
} */

#tag {
    color: #34acf5;
}

#author {
    /* border: 1px solid red; */
    color: gray;
}

#username_link {
    font-weight: 700;
    color: black
}

#username_link:hover {
    text-decoration: underline;
}

#toot div:hover {
    background-color: #f8f4f4;
}

#stats {
    display: flex;
    justify-content: space-between;
}

#retoot {
    color: gray;
    font-weight: 700;
    font-size: 13px;
    margin-left: 67px;
}

#toot {
    /* padding: 10px; */
    outline: 1px solid #f8f4f4;
}

#toot #toot {
    padding: none;
    outline: none;
    /* margin: none; */
    margin-left: none;
}